/* .App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
} */

.todolist {
  /* background-color: rgb(235, 223, 233);  */
  /* border: 2px solid darkgrey; */
  border-radius: 5px;
  /* padding: 15px; */
  
}


.task {
  font-weight: bold;
}

.task-done {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn-filter-active {
  background-color: green;
  border: 1px solid green;
  border-radius: 3px;
  color: white;
}

.add-form {
  display: flex;
  align-items: start;
  
}

.error {
  border: 2px solid red
}

.no-task-error {
  color: red;
}

